<br>
<div class="text-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <h2><%= "#{@personaje.nombre}" %></h2>
        <%= image_tag("#{@personaje.clase}.jpg", class: "img-fluid img-thumbnail") %>
        <h5><%= "Nivel: #{@personaje.nivel}" %></h5>
        <h5> <%= "Vida: #{@personaje.hp_actual} / #{@personaje.hp_max}"%> </h5>
        <h5> <%= "Mana: #{@personaje.mana_actual} / #{@personaje.mana_max}" %> </h5>
        <h5> <%= "Daño: #{@personaje.daño_min} / #{@personaje.daño_max} " %> </h5>
      </div>
      <div class="col-4">
        <h2><%= "#{@npc.nombre}" %></h2>
        <%= image_tag("#{@npc.nombre}.jpg", class: "img-fluid img-thumbnail") %>
        <h5> <%= "Vida: #{@npc.hp_actual} / #{@npc.hp_max}"%> </h5>
        <h5> <%= "Daño: #{@npc.daño_min} / #{@npc.daño_max} " %> </h5>
      </div>
      </div>
    </div>
    <button type="button" class="btn btn-outline-primary btn-lg"><%= link_to 'Atacar', personajes_ataque_path(personaje: @personaje.id, npc: 1), method: :post  %></button>
      <% if @personaje.clase == "Mago" %>
    <button type="button" class="btn btn-outline-primary btn-lg"><%= link_to 'Magia', combate_path(personaje: @personaje.id, npc: 1) %></button>
      <% end %>
    <button type="button" class="btn btn-outline-primary btn-lg"><%= link_to 'Intentar huir', combate_path(personaje: @personaje.id, npc: 1) %></button>
</div>
<br>
  <%= render "inventario" %>
</div>
