<br>

<div class="text-center">
  <div class="h1"> <%= "#{@personaje.nombre}" %></div>
  <%= image_tag("#{@personaje.clase}.jpg", class: "img-fluid img-thumbnail") %>
  <br>
  <br>
  <h4> <%= "Nivel: #{@personaje.nivel}" %> </h4>
  <h4> <%= "Clase: #{@personaje.clase}" %> </h4>
  <h4> <%= "Vida:"%> </h4>
  <div class="col-3 mx-auto">
    <div class="progress" style="min-width: 5px; height: 20px;">
      <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="<%="#{@hp}"%>"
      aria-valuemin="0" aria-valuemax="<%@personaje.hp_max%>" style="width: <%="#{@hp}"%>%;">
      <%= "#{@personaje.hp_actual} / #{@personaje.hp_max} " %>
      </div>
    </div>
  </div>
  <h4> <%= "Mana:" %> </h4>
  <div class="col-3 mx-auto">
    <div class="progress" style="min-width: 5px; height: 20px;">
      <div class="progress-bar bg-info" role="progressbar" aria-valuenow="<%="#{@mp}"%>"
      aria-valuemin="0" aria-valuemax="<%@personaje.mana_max%>" style="width: <%="#{@mp}"%>%;">
      <%= "#{@personaje.mana_actual} / #{@personaje.mana_max} " %>
      </div>
    </div>
  </div>
  <h4> <%= "Daño: #{@personaje.daño_min} / #{@personaje.daño_max} " %> </h4>
  <button type="button" class="btn btn-outline-primary btn-lg"><%= link_to 'Volver', personajes_path %></button>
</div>