<!DOCTYPE html>
<html>

  <head>
    <title>DungeonAo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="d-flex flex-column sticky-footer-wrapper min-vh-100">
      <%= render 'layouts/navigation'%>
      <main class="flex-fill">
        <div class="container">
          <%= render 'layouts/messages'%>
          <%= yield %>
        </div>
      </main>
      <%= render 'layouts/footer' %>
    </div>
  </body>

</html>
